<% from i18n import r %>
<%inherit file="_layout.html"/>
<%block name="title">
    <% from i18n import r %>
    ${r.pt_GoodsList}
</%block>
<ul class="nav nav-tabs">
    <li class="active">
        <a href="#">
            <i class="icon-th-list"></i>
            ${r.m_List}</a>
    </li>
    <li>
        <a href="/admin/goods/edit/">
            <i class="icon-pencil"></i>
            ${r.m_Create}
        </a></li>
</ul>
<table class="table table-hover">
    <thead>
    <tr>
        <th>#</th>
        <th>${r.form_Title}</th>
        <th>${r.form_PriceList}</th>
        <th>${r.form_Price}</th>
        <th>${r.form_Manage}</th>
    </tr>
    </thead>

    %if len(zplist.list) <= 0:
    <tr>
        <td colspan="5" class="no-data">${r.tip_NoData}</td>
    </tr>
    %else:
        %for goods2 in zplist.list:
            ${showRow(goods2)}
        % endfor
    % endif
</table>
${zplist.pager()}


<%block name="header">
    <script type="text/javascript">
        sort_url = "/admin/goods/";
        page_size = ${zplist.size};
        del_url = "/admin/goods/del/";
        modi_url = "/admin/goods/edit/";
    </script>
</%block>


<%def name="showRow(goods)">
    <tr>
        <td>${goods.code.val()}</td>
        <td>${goods.title.val()}</td>
        <td>${goods.price.val()}</td>
        <td>${goods.sell_price.val()}</td>
        <td>
            <a href="#" data-id="${goods.id()}" class="btn btn-info modi">
                <i class="icon-pencil icon-white"></i>
                ${r.btn_Modify}
            </a>
            <a href="#" data-id="${goods.id()}" class="btn btn-danger del">
                <i class="icon-remove icon-white"></i>
                ${r.btn_Delete}
            </a>
            <a href="#" data-id="${goods.id()}" class="btn btn-info img">
                <i class="icon-picture icon-white"></i>
                ${r.btn_Images}
            </a>
        </td>
    </tr>
</%def>

<script type="text/javascript">
    $(function(){
        $(".img").click(function(){
            window.location = '/admin/goods/images/' + $(this).attr("data-id");
        });
    })
</script>


